/* styles.css */
.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

/* styles.css */
.postcard-header {
	display: flex;
	align-items: center; /* Vertically center align the contents */
}

.postcard-header img {
	width: 50px; /* Set the image width to 50px */
	height: 50px; /* Set the image height to 50px */
	margin-right: 10px; /* Add a small margin to separate the image and h1 */
}

.postcard-header h1 {
	flex-grow: 1; /* Make the h1 element grow to fill the available space */
	margin: 0; /* Remove margins from the h1 element */
}

.postcard-body {
	display: flex; /* Apply flex display to the .postcard-body */
}

.postcard-body p:first-child {
	margin-top: 0; /* Remove margin-top for the first <p> element inside .postcard-body */
}

.body-left,
.body-right {
	padding: 10px;
}

.postcard-footer {
	text-align: center;
}

button {
	background-color: grey;
	padding: 10px;
}

input {
	border: none;
	border-bottom: 1px grey solid;
}

body {
	background: black;
}

* {
	border: 1px dashed red;
	min-height: 10px;
}

p {
	color: blue;
}
